$font-primary: 'Roboto', Arial, sans-serif;
// Overrides
$grid-gutter-width: 40px;
$border-radius-base:  4px;
$padding-base-vertical: 14px;
$form-group-margin-bottom: 30px;

$color__primary: #ff6a5c;
$color__secondary: #ccdfcb;
$color__white: #fff;
$color__black: #000;
$reason-icon: #056571;
$color__text: #414141;
$color__text: #414141;
$color__selection: $color__primary;
$color__body: #fcfcfc;
$color__body--bg: #fff;
$color__footer: #222831;


$input-border-focus: $color__primary;
